.chart-title-container {
    display: flex;
    flex-direction: row;
}

.chart-title {
    margin: auto;
}

.cards-container {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.cards-container-top {
    padding-left: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    /*display: grid;*/
    /*grid-template-columns: 1fr 1fr;*/
    /*grid-template-rows: 100px;*/
    /*grid-gap: 10px;*/
    width: 100%;
    height: 100px;
}

.daily-sugar, .daily-insulin {
    width: 45vw;
    height: 100%;
    margin: auto;
    border-radius: 12px;
}


.articles-container {
    padding-left: 0;
}

.daily-sugar {
    background: url(../img/grS.png) no-repeat center center;
    background-size: 100%;
}

.daily-insulin {
    background: url(../img/redIn.png) no-repeat center center;
    background-size: 100%;
    margin-left: 12px;
}

.card {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.daily-stats {
    width: 90vw;
    height: 100px;
    border-radius: 12px;

    background: url(../img/perCarb.png) no-repeat center center;
    background-size: 100%;
}

.full-size-img {
    width: 100%;
}

.card h3 {
    margin: 0;
    color: #FFFFFF;
}

.cards-container-title {
    margin-left: 8px;
}

.articles {
    padding-left: 0;
    display: flex;
    flex-direction: column;
}

.article {
    box-sizing: border-box;
    width: 90vw;
    border-radius: 12px;
    margin-top: 12px;
    height: 200px;
    background: url(../img/perCarb.png) no-repeat center center;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.article div, .article h2 {
    margin: 0;
    color: #FFFFFF;
}

.tab-item-25 {
    width: 20vw;
    margin-left: 20px;
}

.HorizontalScroll__in {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 50px;
}

.TabsItem__in {
    font-size: 10px !important;
}
