.chart-title-container {
    display: flex;
    flex-direction: row;
}

.chart-title {
    margin: auto;
}

.cards-container {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.cards-container-top {
    padding-left: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px;
    grid-gap: 10px;
    width: 100%;
    height: 100px;
}

.daily-sugar, .daily-insulin {
    width: 90%;
    height: 100%;
    margin: auto;
    border-radius: 12px;
}

.daily-sugar {
    background: url(../img/grS.png) no-repeat center center;
    background-size: 100%;
}

.daily-insulin {
    background: url(../img/redIn.png) no-repeat center center;
    background-size: 100%;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.daily-stats {
    width: 95%;
    height: 100px;
    border-radius: 12px;

    background: url(../img/perCarb.png) no-repeat center center;
    background-size: 100%;
    margin-top: 16px;
    margin-left: 8px;
}

.full-size-img {
    width: 100%;
}

.card h3 {
    margin: 0;
    color: #FFFFFF;
}

.cards-container-title {
    margin-left: 8px;
}

.articles {
    display: flex;
    flex-direction: column;
}

.article {
    border-radius: 12px;
    margin-top: 12px;
    height: 200px;
    background: url(../img/perCarb.png) no-repeat center center;
}

.article {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.article div, .article h2 {
    margin: 0;
    color: #FFFFFF;
}

/*.TabsItem__in {*/
/*    width: 100px;*/
/*    !*display: grid !important;*!*/
/*    !*grid-template-columns: 1fr 1fr 1fr 1fr 1fr;*!*/
/*    !*grid-template-rows: 100px;*!*/
/*}*/

.tab-item-25 {
    width: 20vw;
    margin-left: 20px;
}

.HorizontalScroll__in {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 50px;
}

.TabsItem__in {
    font-size: 10px !important;
}
