input.sugar_value {
    border: none;
    outline-width: 0;

}


.column-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.row-container {
    display: flex;
    flex-direction: row;
    /*justify-content: space-around;*/
}


.sel-date-style {
    /*flex-grow: 1;*/
    text-align: center;
}
